.dashboard{
  display: flex;
  flex-flow: column;
  position: relative;
  &__head{
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: bold;
    font-size: 2.25rem;
    letter-spacing: var(--spacing);
    background: #0A1F34;
    margin-top: 1px;
    align-items: flex-start;
    color: white;
    padding-bottom: 24px;
    padding-top: 14px;
    padding-left: 16px;
  }
  &__button{
    &__style{
      display: block;
      height: 43px;
      width: fit-content;
      border-radius: 5px;
      font-family:  montserrat,sans-serif;
      font-size: 20px;
      color: white;
      margin: auto;
      margin-top: 45px;
    }
    &__style:hover{
      color: var(--clr-primary-5);
      background: var(--clr-primary-8);
      border-color: var(--clr-primary-8);
      background: var(--clr-primary-10);
      --transition: all 0.3s linear;
    }
  }
}
.dashboardmiddle{
    width: 25%;
    display: flex;
    flex-flow: column;
    margin-top: 32px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}