.home{
  display: flex;
  flex-flow: column;
  &__above{
    display: flex;
    position: relative;
    &__image{
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 auto;
      min-height: 500px;
      padding: 5px;
      width: 100%;
      -o-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: flex;
      align-items: center;
      &__text{
        display: flex;
        flex-flow: column;
        font-size: 1.45em;
        align-items: center;
        position: relative;
        &__container{
          flex-flow: column;
          display: flex;
          position: relative;
          &__head{
            position: relative;
            display: flex;
            justify-content: center;
            color: white;
            text-transform: uppercase;
          }
          &__paragraph{
            display: flex;
            justify-content: center;
            position: relative;
            color: white;
          }
          &__button{
            display: flex;
            justify-content: center;
            margin-top: 15px;
            &__button1{
              background: #138BBF;
              width: 129px;
              height: 31px;
              border-radius: 10px;
              font-family: 'Source Sans Pro', sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 15px;
              text-align: center;
              color: #FFFFFF;
              text-transform: uppercase;
              &:hover,
              &.active {
                  cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  &__below{
    background-color:  #138BBF;
    position: relative;
    display: flex;
    flex-flow: column;
    &__list{
      display: flex;
      flex-flow: row;
      font-size: 1.25em;
      justify-content: space-around;
      list-style-type: none;
      &__item{
        color: white;
      }
      &:hover,
      &.active {
          cursor: pointer;
      }
    }
  }
}
