.createsupply{
  display: flex;
  flex-flow: column;
  &__head{
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
  }
  &__top{
    display: flex;
    flex-flow: column;
    &__text{
      margin-left: auto;
      margin-right: auto;
      border-radius: 30px;
    }
  }
  &__bottom{
    display: flex;
    flex-flow: column;
    &__head{
      display: flex;
      flex-flow: column;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
