.selectsupplychain{
  display: flex;
  width:100%;
  height : 100%;
  &__big-card{
    display: inline-block;
    padding-top:20px;
    width : 50%;
    margin-left: 5%;
    margin-right: 5%;
    // border : 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    padding-top: 130px;
  } 
  &__image-card{
    display: inline-block;
    width: 50%;
    &__image{
      padding-top: 10px;
      background-size: cover;
      width: 700px;
      height: 500px;
      display: block;
      // background-position: 50%;
      // background-position: center;
      // background-repeat: no-repeat;
      opacity: 1;
    }
  }
  &__label{
    font-size: 20px;
  }
  &__input{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  &__formgroup{
    font-family: 'Source Sans Pro', sans-serif;
    margin-left:35px;
  }
  &__button{   
    height:40px;
    width: fit-content;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #138BBF;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  } 
}