.login_background_image{
    position: absolute;
    min-height: 800px;
    min-width: 1024px;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	opacity: 1;
}
.container-1{
	margin-left:auto;
	margin-right: auto;
	margin-top:5%;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: white;
	height: 72%;
	width: 26%;
	border-radius: 10px;
}
.Title{
	text-align: center;
	margin-bottom:20px;
	padding-top: 20px;
}
.Login{
	text-align: center;
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 1em;
	margin-top:-18px;
}
.Linebreaker1{
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray;
	margin-bottom: 10px;
}
.form-group{
	margin-top: 15px;
	margin-bottom: 15px;
}

.formLabel{
	font-size: 17px;
	margin-left:40px;
	font-weight: 600;
}
.formInput{
	height: 35px;
	width: 80%;
  	border: 3px solid #ccc;
	border-radius: 3px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	display: block;
    margin:auto;
	margin-top: 5px;
}
.formInput1{
	height: 38px;
	width: 83%;
  	border: 3px solid #ccc;
	border-radius: 3px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	display: block;
    margin:auto;
	margin-top: 5px;
}
.formButton{
	display: block;
	margin: auto;

	height: 40px;
	width: 200px;
	border-radius: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: white;
	background-color: #138BBF;
}
.form-submit{
	margin-top: 40px;
	margin-bottom:40px;
}
form{
	height: 100%;
}

.login_background_image{
    position: absolute;
    min-height: 800px;
    min-width: 1024px;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	opacity: 1;
}