.progress{
    display: flex;
    flex-flow: column;
    position: relative;
    &__head{
        display: flex;
        flex-flow: column;
        justify-content: center;
        font-weight: bold;
        font-size: 2.25rem;
        letter-spacing: var(--spacing);
        background: #0A1F34;
        margin-top: 1px;
        align-items: flex-start;
        color: white;
        padding-bottom: 24px;
        padding-top: 14px;
        padding-left: 16px;
    }
}