.progress{
    display: flex;
    flex-flow: column;
    position: relative;
    &__head{
        display: flex;
        flex-flow: column;
        justify-content: center;
        font-weight: bold;
        font-size: 2.25rem;
        letter-spacing: var(--spacing);
        background: #0A1F34;
        margin-top: 1px;
        align-items: flex-start;
        color: white;
        padding-bottom: 24px;
        padding-top: 14px;
        padding-left: 16px;
    }
    &__bottom{
        display: flex;
        flex-flow: row;
        column-gap: 2rem;
        justify-content: center;
        padding-top: 1.5rem;
    }
    &__left{
    width: 160px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    padding-left: 15 px;
    padding-top: 8 px;
    padding-bottom: 8 px;
    padding: 2rem;
    }
    &__right{
    width: 150px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    padding-left: 15 px;
    padding-top: 8 px;
    padding-bottom: 8 px;
    padding: 2rem;
    }
}
form{
    display: flex;
    flex-direction: column;
}
.track{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    &__row{
        display: flex;
        justify-content: center;
    }
    &__form-group{
      font-family: montserrat,sans-serif;
      margin-left: 20px;
      margin-top:15px;
      margin-bottom : 15px;
      height: 30%;
      width: 90%;
    }
    &__label{
      font-size: 20px;
      margin-left: 21px;
    }
    &__input{
        width: 95%;
        padding: 12px 20px;
        margin: 8px 0;
        margin-left: 17px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    &__column {
        flex: 50%;
        width: 50%;
    }
    
    /* Clear floats after the columns */
    
    &__button{   
            height: 40px;
            width: 200px;
            border-radius: 5px;
            font-family:  montserrat,sans-serif;
            font-size: 20px;
            color: white;
            background-color: #138BBF;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 20px;
    }  
    &__big-card{
        margin-left: 39px;
        padding-top:20px;
        width : 50%;
        height : 50%;
        // border : 1px solid black;
        border-radius: 10px;
        margin : auto;
        margin-bottom: 15px;
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
    }    
}
.track1{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
    &__row{
        display: flex;
        justify-content: center;
    }
    &__form-group{
      font-family: montserrat,sans-serif;
      margin-left: 20px;
      margin-top:15px;
      margin-bottom : 15px;
      height: 30%;
      width: 90%;
    }
    &__label{
      font-size: 20px;
      margin-left: 21px;
    }
    &__input{
        width: 95%;
        padding: 12px 20px;
        margin: 8px 0;
        margin-left: 17px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    &__column {
        flex: 50%;
        width: 50%;
    }
    
    /* Clear floats after the columns */
    
    &__button{   
            height: 40px;
            width: 200px;
            border-radius: 5px;
            font-family:  montserrat,sans-serif;
            font-size: 20px;
            color: white;
            background-color: #138BBF;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 20px;
    }  
    &__big-card{
        margin-left: 39px;
        padding-top:20px;
        width : 50%;
        height : 50%;
        // border : 1px solid black;
        border-radius: 10px;
        margin : auto;
        margin-bottom: 15px;
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
    }    
}

