.createsupplyhome{
  display: flex;
  flex-flow: column;
  &__head{
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 2.25rem;
    letter-spacing: var(--spacing);
    background: #0A1F34;
    margin-top: 1px;
    align-items: flex-start;
    color: white;
    padding-bottom: 24px;
    padding-top: 14px;
    padding-left: 16px;
  }

  &__top{
    display: flex;
    flex-flow: column;
    font-weight: bold;
    color: var(--clr-primary-1);
    &__head1
    {
      font-size:25px;
      font-family: montserrat,sans-serif;
      margin: auto;
    }
    &__text{
      border-width: 2px;
      border-radius: 5px;
      width: 500px;
      margin: auto;
    }
  }
  &__bottom{
    margin-top: 32px;
    display: flex;
    flex-flow: column;
    // align-items: center;
    font-weight: bold;
    color: var(--clr-primary-1);
    &__head1
    {
      font-size : 25px;
      margin-top:50px;
      font-family: montserrat,sans-serif;
      margin-bottom : -10px;
      margin: auto;
    }
    &__text{
      border-width: 2px;
      border-radius: 5px;
      width: 500px;
      margin: auto;
    }
  }
  &__button{
    display: block;
    height: 40px;
    width: fit-content;
    border-radius: 5px;
    font-family:  montserrat,sans-serif;
    font-size: 20px;
    color: white;
    background-color: #138BBF;
    margin: auto;
    margin-top: 32px;
  }
  &__button:hover{
    color: var(--clr-primary-5);
    background: var(--clr-primary-8);
    border-color: var(--clr-primary-8);
    background: var(--clr-primary-10);
    --transition: all 0.3s linear;
  }
}
