.nav{
  display: flex;
  flex-flow: column;
  &__header{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    position: relative;
    height: 84px;
    box-shadow: 3px 3px 25px #e6e6e6;
    &__company{
      display: flex;
      flex-flow: justify-content;
      text-transform: uppercase;
      font-size: auto;
      position: relative;
      margin-left: 20px;
      font-size: 34px;
      font-weight: 700;
    }
    &__button{
      margin-right: 10px;
    }
    &__list{
        display: flex;
        justify-content: space-around;
        flex-flow: row;
        gap: 1rem;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        text-align: center;
        list-style-type: none;
        box-sizing: border-box;
        width: 72.22%;
        margin-left:6%;
        position: relative;
        right: 50px;
        height: inherit;
        padding: auto;
        flex: auto;
        margin-top: 0px;
        &__element{
            text-transform: uppercase;
            flex: auto;
            width: 80px;
            box-sizing: border-box;
            transition: all 0.15s ease;
            font-size: 100%;
            font-weight: 400;
            text-decoration: none;
            text-align: center;
            align-items: center;
            color: #008F99;
            position: relative;
            padding-top: 39px;
            justify-content: center;
            white-space: nowrap;
            &::after{
                content: " ";
                display: block;
                height: 3px;
                width: 2px;
            }

            &:hover,
            &.active {
                cursor: pointer;
                color: #FE5E4C;
            }

         }
    }
  }
}
