.createsupply{
    display: flex;
    // flex-flow: column;
    &__head{
      display: flex;
      flex-flow: column;
      margin-left: auto;
      margin-right: auto;
    }
    &__bottom{
        display: flex;
        flex-flow: column;
        &__head{
          display: flex;
          flex-flow: column;
          justify-content: center;
          font-weight: bold;
          font-size: 2.25rem;
          letter-spacing: var(--spacing);
          background: #0A1F34;
          margin-top: 1px;
          align-items: flex-start;
          color: white;
          padding-bottom: 24px;
          padding-top: 14px;
          padding-left: 16px;
        }
        &__head1{
          display: flex;
          flex-flow: row;
          margin-left: auto;
          margin-right: auto;
          &__part1{
            &__select1{
                background: var(--clr-grey-10);
                border: 2px solid var(--clr-primary-5);
                padding: 0.25rem 0.5rem;
                width: 30rem;
                border-radius: var(--radius);
                margin: 0 0.5rem;
                font-size: 1.25rem;
            }
            &__select2{
              background: var(--clr-grey-10);
              border: 2px solid var(--clr-primary-5);
              padding: 0.25rem 0.5rem;
              width: 17rem;
              border-radius: var(--radius);
              margin: 0 0.5rem;
              font-size: 1.25rem;
            }
          }
          &__part2{
            margin: auto;
            margin-top: 36px;
          }
        }
    }
}

.createsupplyflow{
    width:100%;
    &__button{   
      height: 40px;
      width: 200px;
      border-radius: 5px;
      font-family:  montserrat,sans-serif;
      font-size: 20px;
      color: white;
      background-color: #138BBF;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 20px;
    } 
    &__big-card{
      padding-top:20px;
      width : 80%;
      height : 50%;
      // border : 1px solid black;
      border-radius: 10px;
      margin : auto;
      margin-bottom: 15px;
      -moz-box-shadow: 0 0 3px #ccc;
      -webkit-box-shadow: 0 0 3px #ccc;
      box-shadow: 0 0 3px #ccc;
    } 
    &__row {
      display: flex;
    }
    &__column {
      flex: 50%;
    }
    &__input{
      width: 70%;
      padding: 12px 20px;
      margin: 8px 0;
      font-size: 18px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    &__title{
        font-size:15px;
        margin-left:40px;
        margin-bottom:40px;
        font-family: montserrat,sans-serif;
    }
    &__formgroup{
        font-family: montserrat,sans-serif;
        margin-left:35px;
    }
    
    &__button{
        display: block;
            height: 40px;
            width: 200px;
            border-radius: 5px;
            font-family:  montserrat,sans-serif;
            font-size: 20px;
            color: white;
            background-color: #138BBF;
            margin-left : 22%;
            margin-top:50px;
    }   
    &__button1{
          // height: 60%;
          margin: 8px 0;
          
          height: 74%;
          width: 50%;
          padding: 12px 20px;
          display: inline-block;
          font-family:  montserrat,sans-serif;
          font-size: 20px;
         
          color: white;
          background-color: #138BBF;
          border-radius: 5px;
          box-sizing: border-box;
          margin-left : -25%;
  }  
  &__button2{
    // height: 60%;
    margin: 8px 0;
    
    height: 74%;
    width: 50%;
    padding: 12px 20px;
    display: block;
    justify-content: flex-end;
    font-family:  montserrat,sans-serif;
    font-size: 20px;
   
    color: white;
    background-color: #138BBF;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left : auto;
    margin-right: 30%;
}  
}