.nav{
  display: flex;
  flex-flow: column;
  width: 100%;
  &__header{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    font-family:  'Source Sans Pro', sans-serif;
    font-size: 18px;
    position: relative;
    height: 84px;
    box-shadow: 3px 3px 25px #e6e6e6;
    &__company{
      display: flex;
      flex-flow: justify-content;
      text-transform: uppercase;
      font-size: auto;
      position: relative;
      margin-left: 20px;
      font-size: 34px;
      font-weight: 900;
    }
    // &__button{
    //   margin-right: 10px;
    // }
    &__list{
        display: flex;
        justify-content: space-around;
        flex-flow: row;
        gap: 1rem;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        text-align: center;
        list-style-type: none;
        box-sizing: border-box;
        width: 72.22%;
        margin-left:6%;
        position: relative;
        right: 50px;
        height: inherit;
        padding: auto;
        flex: auto;
        margin-top: 0px;
        &__element{
            text-transform: uppercase;
            flex: auto;
            width: 80px;
            box-sizing: border-box;
            transition: all 0.15s ease;
            font-size: 120%;
            font-weight: 900;
            text-decoration: none;
            text-align: center;
            align-items: center;
            color: #008F99;
            position: relative;
            padding-top: 39px;
            justify-content: center;
            white-space: nowrap;
            &::after{
                content:" ";
                display: block;
                height: 3px;
                width: 2px;
            }

            &:hover,
            &.active {
                cursor: pointer;
                color: #FE5E4C;
            }
        }
        &__button{
          display: block;
          height: 40px;
          width: fit-content;
          border-radius: 5px;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 20px;
          color: white;
          background-color: #138BBF;
          margin: auto;
          margin-top: 32px;
          text-decoration: none;
          &:hover{
            color: var(--clr-primary-5);
            background: var(--clr-primary-8);
            border-color: var(--clr-primary-8);
            background: var(--clr-primary-10);
            text-decoration: none;
            --transition: all 0.3s linear;
          }
          &:link{
            text-decoration: none;
          }
        }
        
        

    }
  }
}
.hamburger{
  display: none;
}
@media screen and (max-width : 1220px) {
  .nav{
    &__header{
      &__list{
          display: none;
      }
    }
  }
  .nav{
    &__header{
      &__notlist{
        display: block;
        list-style: none;
        background-color: #008F99;
        left: 0px;
        top: 75px;
        transition: all 0.5s ease-out;
        margin-top: 188px;
        z-index: 1;
        width: 47%;  
        &__element{
          color: white;
          text-align: center;
          padding: 32px;
          width: 100%;
          transition: all 0.5s ease;
        }
      }
    }
  }
  .hamburger{
    display: block;
    position: absolute;
    font-size: 30px;
    color: #e6e6e6;
    background-color: #008F99;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
    z-index: 1;
  }
}