.supply{
  display: flex;
  position: relative;
  flex-flow: column;
  &__head{
    background-color: #0A1F34;
    display: flex;
    position: relative;
    &__heading{
      color: white;
    }
  }
  &__below{
    display: flex;
    position: relative;
    top: 20px;
    align-items: center;
    flex-flow : column;
    row-gap : 32px;
  }
}
